body {
	background-color: white;
}

.name {
	font-family: dazzle-unicase, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 96px;
	text-align: center;
}

.navi {
	font-family: lft-etica-mono, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 48px;
	text-align: center;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: underline
}

a:hover {
	color: #666666;
	background-color: transparent;
	text-decoration: underline;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: absolute;
	right: 0px;
	left: 0px;
}

.pic {
	width: 175px;
	height: 675px;
}

.pic:hover {
	opacity: 50%;
}

.responsive {
	max-width: 100%;
	height: auto;
}

img {
	z-index: 1;
}

.idol {
	font-family: lft-etica-mono, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 48px;
	position: relative;
	text-align: right;
	top: -85%;
	right: -10%;
	transform: rotate(-90deg);
	z-index: 2;
	height: 55px;
	width: 250px;
}